<div class="container">
    <div class="row">
      <a class="btn btn=primary" routerLink="/admin">Back to List Of Customers</a>
    </div>
    <div>
      <div class="form-group">
        <label>Customer Id</label>
        <div class="form-control">{{customer.id}}</div>
      </div>
      <div class="form-group">
        <label>First Name</label>
        <div class="form-control">{{customer.firstname}}</div>
      </div>
      <div class="form-group">
        <label>Last Name</label>
        <div class="form-control">{{customer.lastname}}</div>
      </div>
      <div class="form-group">
        <label>Favorite Color</label>
        <div class="form-control">{{customer.favoritecolor}}</div>
      </div>
         <a class="btn btn=primary" routerLink="">Create Another Customer</a>
         <a class="btn btn=primary" routerLink="">Delete</a>
     </div>
  </div>
  